@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
  /*Хэдер*/

  .page-navigation {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .mobile-menu-hamburger {
    display: none;
  }

  /*Особенности*/

  .section.features {
    padding-top: 120px;
  }

  /*Customers*/

  .section.customers {
    padding-top: 120px;
  }

  .features-item:not(:last-child) {
    margin-right: 24px;
  }

  /*Подвал*/

  .footer-block {
    margin-right: 120px;
  }

  .block-subscribe {
    margin-left: 80px;
  }
}
