@media screen and (min-width: 480px) and (max-width: 767px) {
  /*хэдер*/

  .container {
    width: 426px;
    margin-right: auto;
    margin-left: auto;
  }

  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navigation-list {
    display: none;
  }

  .address-list {
    display: none;
  }

  /*герой*/

  .hero {
    width: 428px;
    height: auto;
    padding: 112px 54px;
  }

  .hero-title {
    max-width: 320px;
    margin-bottom: 72px;

    font-size: 36px;
    line-height: 1.11;
  }

  /*особенности*/

  .features-item-icon {
    display: none;
  }

  .features-list {
    flex-direction: column;
  }

  .features-item:not(:last-child) {
    margin-bottom: 72px;
  }

  .features-item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
  }

  .features-item-text {
    max-width: 396px;
    font-weight: 500;
  }

  /*Чем мы занимаеся*/

  .section.work {
    display: none;
  }

  /*Наша команда*/

  .team-list {
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }

  /* Customers*/

  .customers-logo-list {
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
  }

  .customers-logo-item {
    width: 190px;
    flex-basis: calc((100% - 16px) / 2);
  }

  /*Футер*/

  .page-footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-block {
    text-align: center;
  }

  .footer-text {
    text-align: start;
  }

  .footer-block-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 72px;
  }

  .form-subscripe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 72px;
  }

  .row-block-subscribe {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .input-email-subscripe {
    width: 398px;
  }

  /*Модальное окно*/

  .modal {
    width: 392px;
    height: 586px;
  }

  .modal-title {
    margin-bottom: 16px;
  }

  /*Мобильное меню*/

  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: bisque;
  }

  .mobile-menu-container {
    position: relative;
    padding-top: 24px;
    padding-bottom: 40px;
    padding-left: 25px;
  }

  .mobile-menu-close-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 15px;
    line-height: 0;

    color: #000000;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: color var(--transition-duration) var(--cubic-bezier),
      background-color var(--transition-duration) var(--cubic-bezier);
  }

  /* .mobile-menu {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #fff;
  } */
}
