.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*хэдер*/

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: inherit;
}

.header-logo {
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-web {
  color: var(--accent-color);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-list {
  display: none;
}

.address-list {
  display: none;
}

/*Мobile menu*/

.mobile-menu-open {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}

.mobile-menu-hamburger-icon {
  stroke: #2e2f42;
}

/* .mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: bisque;
}

.mobile-menu-container {
  position: relative;
  padding-top: 24px;
  padding-left: 25px;
  padding-bottom: 40px;
}

.mobile-menu-close-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 15px;
  line-height: 0;

  color: #000000;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: color var(--transition-duration) var(--cubic-bezier),
    background-color var(--transition-duration) var(--cubic-bezier);
}

.mobile-navigation {
  margin-top: 32px;
  margin-bottom: 284px;
}

.mobile-navigation-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--main-text-bcg-color);
}

.mobile-navigation-link.contacts {
  color: var(--accent-color);
}

.mobile-navigation-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-tel-link {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  color: var(--accent-color);
}

.mobile-menu-mail-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--secondary-text-color);
}

.mobile-menu-social-list {
  display: flex;
  margin-top: 48px;
  gap: 56px;
}

.team-social-link.mobile {
  padding: 8px;
} */

/*герой*/

.hero {
  width: 428px;
  height: auto;
  padding: 112px 54px;
}

.hero-title {
  max-width: 320px;
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
}

/*особенности*/

.features-item-icon {
  display: none;
}

.features-list {
  flex-direction: column;
}

.features-item:not(:last-child) {
  margin-bottom: 72px;
}

.features-item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.features-item-text {
  max-width: 396px;
  font-weight: 500;
}

/*Чем мы занимаеся*/

.section.work {
  display: none;
}

/*Наша команда*/

.team-list {
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

/* Customers*/

.customers-logo-list {
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
}

.customers-logo-item {
  width: 190px;
  width: calc((100% - 16px) / 2);
}

/*Футер*/

.page-footer {
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer {
  flex-direction: column;
  align-items: center;
}

.footer-block {
  text-align: center;
}

.footer-text {
  text-align: start;
}

.footer-block-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 72px;
}

.form-subscripe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 72px;
}

.row-block-subscribe {
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.input-email-subscripe {
  width: 398px;
}

/*Модальное окно*/

.modal {
  width: 392px;
  height: 586px;
}

.modal-title {
  margin-bottom: 16px;
}

/*Мобильное меню*/

/* .mobile-menu {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #fff;
  } */

@media screen and (min-width: 480px) {
  .container {
    width: 426px;
  }
}
