@media screen and (min-width: 768px) {
  .container {
    width: 766px;
  }

  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  /*Хэдер*/

  .page-navigation {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .logo {
    margin-right: 123px;
  }

  .navigation-list {
    display: flex;
    gap: 40px;
  }

  .navigation-item-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--main-text-bcg-color);
    font-weight: 500;
    transition: color var(--transition-duration) var(--cubic-bezier);
  }

  .studio {
    position: relative;
    color: var(--filters-background-btn-icons-hover);
  }

  .studio::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;

    background-color: #404bbf;
    border-radius: 2px;
  }

  .portfolio {
    position: relative;
    color: var(--filters-background-btn-icons-hover);
  }

  .portfolio::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;

    background-color: var(--filters-background-btn-icons-hover);
    border-radius: 2px;
  }

  .navigation-item-link:active {
    color: var(--accent-color);
  }

  .address {
    margin-left: auto;
  }

  .address-list {
    display: flex;
    gap: 40px;
  }

  .address-item-link {
    transition-property: color var(--transition-duration) var(--cubic-bezier);

    font-style: normal;
    color: var(--secondary-text-color);
  }

  .address-item-link:hover,
  .address-item-link:focus {
    color: var(--accent-color);
  }

  .address-list {
    flex-direction: column;
  }

  .address-item {
    font-size: 12px;
    line-height: 1.33;
  }

  .mobile-menu-open {
    display: none;
  }

  /*Герой*/

  .hero {
    width: 768px;
    height: auto;
  }

  /*Особенности*/

  .features-list {
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .features-item-icon {
    display: none;
  }

  .features-item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }

  /*Чем мы занимаеся*/

  .section.work {
    display: none;
  }

  /*Наша команда*/

  .team-list {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }

  /*Customers*/

  .container.customers {
    width: 552px;
  }

  .customers-logo-list {
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .customers-logo-item {
    width: calc((100% - 24px * 2) / 3);
  }

  /*Подвал*/

  .container.footer {
    width: 552px;
  }

  .page-footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .footer {
    flex-wrap: wrap;
  }

  .footer-block {
    margin-bottom: 72px;
  }

  .footer-block-social {
    margin-left: 24px;
  }

  /*Модальное окно*/

  .modal {
    height: 586px;
  }

  .modal-title {
    margin-bottom: 16px;
  }
}
